@model CompuMedia.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "User";
}


<link href="~/css/CssScreen/Screen.css" rel="stylesheet" />

<div class="row" style="margin-bottom:50px"> New User</div>

<form id="Frm">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="col-4">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">

        <input id="btnsave" type="button" value="Login" class="btn btn-success" /> &nbsp; &nbsp; &nbsp; <input id="btnRegister" type="button" value="Register" class="btn btn-info" />
    </div>
</form>





@section Scripts
{

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/JSScreen/Login.js"></script>

}