
@model CompuMedia.ViewModel.ToDoViewModel

@{
    ViewData["Title"] = "User";
}



<link href="~/css/CssScreen/Screen.css" rel="stylesheet" />

<div class="row" style="margin-bottom:50px"> New User</div>

<form id="Frm">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <div class="col-4">
                    <label asp-for="Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="col-4">
                    <label asp-for="Action"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Action" class="form-control" />
                    <span asp-validation-for="Action" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="col-4">
                    <label asp-for="DueTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="DueTime" class="form-control" />
                    <span asp-validation-for="DueTime" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="input-group">
                <div class="col-4">
                    <label asp-for="UserId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="UserId"
                            asp-items="@(new SelectList(ViewBag.Users,"Id","Name"))">
                     
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">

        <input id="btnsave" type="button" value="Save" class="btn btn-success" /> &nbsp; &nbsp; &nbsp; <input id="New" type="button" value="Renew" class="btn btn-warning" />
    </div>

    <div class="row">
        <div class="col-12">
            <table id="tb" class="">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Action
                        </th>
                        <th>

                        </th>

                        <th>

                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</form>
@section Scripts
{
    <script>
        var Users = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Data))');
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/JSScreen/Todo.js"></script>

}